<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="src/styles/mental.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abel&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abel&family=Baloo+Bhai+2:wght@400..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
 
    <title>Mental Health</title>
 
</head>
<body>
 
    <header class="cabecalho">
        <div class="titulos">
        <h1 class="container__caixa__logo">Mental Health</h1>
        <h2 class="container__caixa__logo-dois">Hub</h2>
    </div>
 
   
        <div class="link">
        <a href="#container_sobre-nós" class="container__caixa-link">Sobre nós</a>
        <a href="#container__nossos-serviços" class="container__caixa-link">Nossos serviços</a>
        <a href="#container-psicologo" class="container__caixa-link">Psicologos</a>
        <a href="./LOGIN.HTML" class="container__caixa-login">Entrar</a>

        </div>
    </header>
 
    <section id="container principal" class="container principal">
        <div class="container__caixa">
            <div class="container__logo">
                <img src="src/image/logo.png" alt="logo do projeto">
            </div>
            <p class="container__caixa-descrição">🌿 Bem-vindo ao Mental Health Hub – Seu Espaço de Apoio Psicológico. <br> 
            A vida acadêmica pode ser desafiadora, e sabemos como a pressão dos estudos pode ser avassaladora. <br> Se você se sente sobrecarregado, estamos aqui para ajudar! <br>
            Oferecemos suporte psicológico para estudantes, proporcionando um espaço seguro para acolhimento, <br> equilíbrio e estratégias para lidar com o estresse.</p>
        </div>
 
    </section>
    <section id="container-psicologo" class="container-psicologo">
        <p>Conheça alguns dos nossos psicologos</p>

        <div class="container-psicologo-grupos">
            <div class="container-card">
                <img src="src/image/anapaula.png" alt="Ana Paula">
                <div class="container-card-texto">
                    <h3>Ana Paula</h3>
                    <p>⭐⭐⭐⭐⭐</p>
                    <p>Psicóloga Clínica</p>
                    <p>Salto - SP</p>
                </div>
            </div>
        
            <div class="container-card">
                <img src="src/image/alicia.png" alt="Alice Vieira">
                <div class="container-card-texto">
                    <h3>Alice Vieira</h3>
                    <p>⭐⭐⭐⭐⭐</p>
                    <p>Psicóloga Clínica</p>
                    <p>Salto - SP</p>
                </div>
            </div>
        
            <div class="container-card">
                <img src="src/image/juliana.png" alt="Juliane Carvalho">
                <div class="container-card-texto">
                    <h3>Juliane Carvalho</h3>
                    <p>⭐⭐⭐⭐⭐</p>
                    <p>Terapeuta</p>
                    <p>Salto - SP</p>
                </div>
            </div>
        </div>
    </section>
    <section id="container__nossos-serviços" class="container__nossos-serviços">
        <hr style="border: transparent; display: inline-block;" />
        <p>Oferecemos suporte psicológico especializado para estudantes que enfrentam estresse, ansiedade e sobrecarga acadêmica. <br> Nossos serviços incluem:</p>
 
        <ul class="container_serviços">
            <li> <a href="./PSICOLOGO ONLINE.HTML" class="container__caixa-login">PSICÓLOGOS ONLINE</a> </li>
            <li> <a href="./TERAPIA ONLINE.HTML" class="container__caixa-login">TERAPIA ONLINE</a> </li>
            <li> <a href="./ARTIGOS.HTML" class="container__caixa-login">ARTIGOS SOBRE BEM-ESTAR</a> </li>
          
        </ul>
    </section>

    
    <section id="container_sobre-nós" class="container_sobre-nós">
        
        <p class="sobre-nos">Sobre nós</p>
        
        <p>Nossso projeto será um site businnes to businnes onde iremos vender <br> uma plataforma de suporte de saúde mental para estudantes,
        onde a <br> escola irá nos contratar e nosso site ira fazer o acompanhamento desses <br> alunos com palestras sobre saúde mental, psicólogos,
        artigos sobre <br> bem-estar e outra ideias que vocês poderão nos dar, será realizados <br> relatórios e diagnósticos que serão enviados aos
        professores para que <br> possam aprender a lidar melhor com cada perfil dos alunos, além disso <br> os professores também poderam ter acesso
        ao site para melhorar sua <br> convivência e educação com os alunos.</p>
    </section>

    <section id="container__dispositivos">
            <p class="container-texto">Disponível nos dispositivos</p>
        <div class="container__dispositivos">

            <ul>
            <li><img src="src/image/computador.png" alt="computador"></li>
            <h3>Computador</h3>
        </ul>

        <ul>
            <li><img src="src/image/celular.png" alt="celular"></li>
            <h3>Celular e tablets</h3>
        </ul>
        </div>
    </section>
    <footer class="rodape">
        <ul class="rodape__lista">
            <li> <a href="./TERMOS.HTML" >Termos de uso</a> </li>
            <li><a href="#">Dispositivos compatíveis</a></li>
            <li><a href="#">Contrato de assinatura</a></li>
            <li><a href="#">Politica de privacidade</a></li>
            <li><a href="#">Ajuda e Suporte</a></li>
            <li><a href="#">Blog</a></li>
        </ul>
        <p>® 2024 Mental Health Hub, Todos os direitos reservados. Serviço de assinatura paga. Conteúdo sujeito à disponibilidade.</p>
        <p>Mental Health Hub são serviços pagos, baseados em assinatura e sujeitos a termos e condições.
        <br/>Distrito Salto-sp, 42, Bairro Buru, Cidade Salto, CEP 12345-678, Brasil. CNPJ 12.345.678/0001-99.</p>
    </footer>

    <script src="../model/bd.js"></script>
    <script src="../controller/addPsicologo.js">
        
    </script>
    
</body>
</html>



