<!DOCTYPE html>
<html lang="en">
<head>
 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="src/styles/mental.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abel&family=Baloo+Bhai+2:wght@400..800&family=Jaldi:wght@400;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
 
   
    <title>LOGIN</title>
</head>
<body>
    <header class="cabecalho">
        <div class="titulos">
        <h1 class="container__caixa__logo">Mental Health</h1>
        <h2 class="container__caixa__logo-dois">Hub</h2>
    </div>
    </header>

    <div class="seta">
        <a href="./INDEX.HTML">
            <img src="src/image/seta.png" alt="seta" class="seta">
        </a>
    </div>
   
    <div class="container__login-senha">
 
        <img src="src/image/foto.png" alt="">
 <form class="loginForm">
        <div class="container_emailcadastro-dois">
            <label for="email"></label>
          <input type="text" name="dois" id="dois" placeholder="E-mail@gmail.com" required />
        </div>
        <label for="senha"></label>
              <input type="password" name="password" id="password" placeholder="Senha" required />
 
              <div class="botao_cadastro">
                <button type="submit">ENTRAR</button>
            </div>
 </form>
        <div class="container__esqueci">
            <a class="aa" href="./ESQUECI.HTML">ESQUECI MINHA SENHA </a>
            <h2>Ainda não possui cadastro? <a class="criar" href="./CADASTRO.html">Criar uma Conta!</a><h2>
        </div>
    </div>
    <script src="../model/bd.js"></script>
    <script src="../controller/main.js"></script>
</body>
</html>