<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="src/styles/mental.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abel&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abel&family=Baloo+Bhai+2:wght@400..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
 
    <title>Como Funciona?</title>
</head>
<body>
    
    <header class="cabecalho">
        <div class="titulos">
        <h1 class="container__caixa__logo">Mental Health</h1>
        <h2 class="container__caixa__logo-dois">Hub</h2>
    </div>
</header>

<div class="seta">
    <a href="./INDEX.HTML">
        <img src="src/image/seta.png" alt="seta" class="seta">
    </a>
</div>

<div class="titulo">
    <h1>Como Funciona um Psicólogo Online?</h1>
    <p>Uma psicóloga online oferece suporte emocional e psicológico através de videochamadas, <br> proporcionando acolhimento, escuta qualificada e estratégias para lidar com desafios do dia a dia. <br>
    O atendimento é seguro, sigiloso e tão eficaz quanto o presencial, <br> permitindo que você receba ajuda de onde estiver, com conforto e praticidade.</p>
</div>
<div class="lista"> 
    <ol>
        <ul>✅ Apoio profissional sem sair de casa</ul>
        <ul>✅ Flexibilidade de horários</ul>
        <ul>✅ Ambiente seguro e confidencial</ul>
    </ol>
</div>
   
    <p class="cuidar">Cuidar da sua saúde mental nunca foi tão acessível. Estamos aqui para você!</p>

    <div class="botao-entrar">
        <a href="./AGENDAMENTOS.HTML">AGENDAR</a>
    </div>

</body>
</html>