<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="src/styles/mental.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abel&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abel&family=Baloo+Bhai+2:wght@400..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
 
    <title>Como Funciona?</title>
</head>
<body>
    
    <header class="cabecalho">
        <div class="titulos">
        <h1 class="container__caixa__logo">Mental Health</h1>
        <h2 class="container__caixa__logo-dois">Hub</h2>
    </div>
</header>

    <div class="seta">
        <a href="./INDEX.HTML">
            <img src="src/image/seta.png" alt="seta" class="seta">
        </a>
    </div>


<div class="titulo">
    <h1> Como Funciona a Terapia Online?</h1>
    <p>A terapia online é uma forma prática e acessível de cuidar da sua saúde mental, </BR> onde você pode conversar com um profissional  qualificado no conforto da sua casa. </BR>
    As sessões acontecem por videochamada, em um ambiente seguro e sigiloso, permitindo que </BR> você receba acolhimento,
    orientação e estratégias para lidar com desafios emocionais e acadêmicos.</p>
</div>
<div class="lista"> 
    <ol>
        <ul>✅ Atendimento personalizado e seguro</ul>
        <ul>✅ Acesso fácil, onde e quando precisar</ul>
        <ul>✅ Mesma eficácia da terapia presencial</ul>
    </ol>
</div>
   
    <p class="cuidar">Seu bem-estar está a um clique de distância. Agende sua sessão!</p>

    <div class="botao-entrar">
        <a href="./AGENDAMENTOS.HTML">AGENDAR</a>
    </div>

</body>
</html>