<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="src/styles/mental.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abel&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abel&family=Baloo+Bhai+2:wght@400..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>TERMOS DE USO</title>
</head>
<body>
    <header class="cabecalho">
        <div class="titulos">
        <h1 class="container__caixa__logo">Mental Health</h1>
        <h2 class="container__caixa__logo-dois">Hub</h2>
    </div>
    </header>

    <div class="seta">
        <a href="src/styles/INDEX.HTML">
            <img src="src/image/seta.png" alt="seta" class="seta">
        </a>
    </div>
<div class="termos">
    <H1>TERMOS DE USO</H1>

    <H2>1. Aceitação dos Termos</H2>
    <P>Ao acessar e utilizar o site Mental Health Hub (www.mentalhealthhub.com.br), você concorda em cumprir <br> 
    os presentes Termos de Uso, juntamente com nossa Política de Privacidade. Se você não concordar com os termos aqui estabelecidos, não deverá utilizar o site.</P>

    <H2>2. Descrição do Serviço</H2>
    <P>O Mental Health Hub é um site criado para fornecer suporte a estudantes que enfrentam crises de saúde mental. Através de recursos educativos, artigos,<br> 
    ferramentas de autoajuda e orientações, buscamos apoiar a saúde mental dos nossos usuários de forma acessível e compreensiva.</P>

    <H2>3. Uso do Site</H2>
    <P>Você se compromete a utilizar o site de maneira responsável, sem violar a legislação <br>
    vigente ou comprometer a experiência de outros usuários. O uso do site deve ser feito exclusivamente para fins de apoio à saúde mental e aprendizado.</P>

    <H3>3.2. Requisitos de Idade</H3>
    <P>O site é voltado para estudantes e jovens adultos. Para acessar e utilizar nossos serviços, <br>
    o usuário deve ter pelo menos 13 anos. Caso tenha menos de 18 anos, é necessário o consentimento de um responsável legal.</P>

    <H3>3.3. Conteúdo</H3>
    <P>O Mental Health Hub oferece conteúdos informativos e ferramentas de autoajuda com o intuito de promover bem-estar e <br>
    saúde mental. No entanto, o conteúdo do site não substitui a orientação de profissionais de saúde mental ou médicos.</P>
 
    <H2>4. Privacidade e Proteção de Dados</H2>
    <P>O Mental Health Hub respeita a sua privacidade e adota medidas para proteger seus dados pessoais. Os dados coletados são utilizados conforme <br>
    descrito na nossa Política de Privacidade. Ao utilizar o site, você consente com a coleta e uso de suas informações conforme os termos da política.</P>

    <H2>5. Propriedade Intelectual</H2>
    <P>Todos os conteúdos do site, incluindo textos, imagens, vídeos, gráficos e outros materiais, são protegidos por direitos autorais e pertencem ao Mental <br>
    Health Hub ou aos seus parceiros. É proibida a reprodução, distribuição ou modificação dos materiais sem autorização prévia.</P>

    <H2>6. Limitação de Responsabilidade</H2>
    <H3>6.1. Isenção de Garantias</H3>
    <P>O Mental Health Hub não oferece garantias sobre a precisão, integridade ou relevância das informações fornecidas. O uso do conteúdo é de sua responsabilidade.</P>
    <H3>6.2. Exclusão de Responsabilidade</H3>
    <p>O site não se responsabiliza por danos diretos ou indiretos resultantes do uso indevido dos serviços ou pela <br>
    falta de adequação dos conteúdos fornecidos. O site não substitui um acompanhamento psicológico profissional.</p>

    <H2>7. Modificações nos Termos de Uso</H2>
    <P>O Mental Health Hub se reserva o direito de modificar, a qualquer momento, os presentes Termos de Uso. Alterações serão publicadas nesta página,<br>
    e a continuidade no uso do site após as mudanças implicará na aceitação das novas condições.</P>

    <H2>8. Links para Sites Externos</H2>
    <P>O site pode conter links para sites externos, cujos conteúdos não são de nossa <br>
    Recomendamos que você leia as políticas de privacidade e os termos de uso de cada site vinculado.</P>

    <H2>9. Direitos de Cancelamento</H2>
    <P>O Mental Health Hub pode suspender ou encerrar sua conta a qualquer momento,<br>
    caso constate que você violou os Termos de Uso ou cometeu alguma ação prejudicial ao funcionamento do site.</P>

    <H2>10. Legislação Aplicável</H2>
    <P>Este Termo de Uso é regido pelas leis do Brasil. Em caso de disputas relacionadas ao site,<br>
    as partes concordam que o foro competente será o da cidade de [Salto], Estado de [São Paulo].</P>

    <H2>11. Contato</H2>
    <H1>Se você tiver dúvidas ou preocupações sobre os Termos de Uso, entre em contato conosco através do e-mail: contato@mentalhealthhub.com.br.</H1>
</div>
    
    

</body>
</html>